<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sundyn.dao.AppriesMenuDao">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, menuName, nav, parentId, iconCls, isshow, menuorder, funcCode
    </sql>

    <select id="selectByIdEx" resultType="Map">
        SELECT *,(select menuName from appries_menu t where t.id=appries_menu.parentId) parentName,(select id from appries_func t where t.funcCode=appries_menu.funcCode) funcId FROM appries_menu WHERE id=#{id}
    </select>
</mapper>
