<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sundyn.dao.OrderDetailDao">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, orderno, managerid, totalfee, ispay, payfee, paytime, status, comment, audituser, audittime, auditdesc, canceluser, canceltime, canceldesc, closeuser, closetime, closedesc, ctime, cuser
    </sql>

</mapper>
