<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sundyn.dao.QueueDetailDao">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, ywlsh, counterlist, hallid, hallno, bizid, bizname, deptid, deptname, queuenum, mobile, cardtype, cardid, cardname, tickettime, queuetype, yyno, ishj, hjtime, hjcounter, staffno, staffname, starttime, endtime, waittime, servicetime, appriseresult, appriseresultname, apprisetime, isagent, status, ctime
    </sql>

</mapper>
