<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sundyn.dao.QueueEmployeereportDao">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, hallno, counterno, eno, ename, action, starttime, endtime, times, ctime
    </sql>

</mapper>
