<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sundyn.dao.SysJxdataDao">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, deptid, deptname, eno, ename, servicedate, ykq, qzby, rcxc, ypfj,fjdesc, ctime, cuser
    </sql>

    <select id="querypagemap" resultType="Map">
       SELECT sys_jxdata.*,sys_dictinfo.note
        FROM sys_jxdata LEFT JOIN sys_dictinfo on sys_jxdata.ypfj=sys_dictinfo.dictvalue and sys_dictinfo.dictgroup='jxypfj'
        WHERE 1=1 ${ew.sqlSegment}
    </select>
</mapper>
