
@font-face {font-family: "sstfont";
  src: url('iconfont.eot?t=1484561219234'); /* IE9*/
  src: url('iconfont.eot?t=1484561219234#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1484561219234') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1484561219234') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1484561219234#sstfont') format('svg'); /* iOS 4.1- */
}

.sstfont {
  font-family:"sstfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sst-baiyangzuo:before { content: "\e602"; }

.sst-chunvzuo:before { content: "\e603"; }

.sst-gouxiao:before { content: "\e604"; }

.sst-houxiao:before { content: "\e605"; }

.sst-huxiao:before { content: "\e606"; }

.sst-jixiao:before { content: "\e607"; }

.sst-jinniuzuo:before { content: "\e608"; }

.sst-juxiezuo:before { content: "\e609"; }

.sst-liaojiju:before { content: "\e60a"; }

.sst-longxiao:before { content: "\e60b"; }

.sst-maxiao:before { content: "\e60c"; }

.sst-mojiezuo:before { content: "\e60d"; }

.sst-niuxiao:before { content: "\e60e"; }

.sst-shexiao:before { content: "\e60f"; }

.sst-sheshouzuo:before { content: "\e610"; }

.sst-shizizuo:before { content: "\e611"; }

.sst-shuxiao:before { content: "\e612"; }

.sst-shuangyuzuo:before { content: "\e613"; }

.sst-shuangzizuo:before { content: "\e614"; }

.sst-shuipingzuo:before { content: "\e615"; }

.sst-tianchengzuo:before { content: "\e616"; }

.sst-tianhezuo:before { content: "\e617"; }

.sst-tuxiao:before { content: "\e618"; }

.sst-yangxiao:before { content: "\e619"; }

.sst-zhuxiao:before { content: "\e61a"; }

.sst-bennian:before { content: "\e61b"; }

.sst-benyue:before { content: "\e61c"; }

.sst-benzhou:before { content: "\e61d"; }

.sst-fu:before { content: "\e61f"; }

.sst-huangguan:before { content: "\e620"; }

.sst-qiapian:before { content: "\e623"; }

.sst-liebiao:before { content: "\e624"; }

.sst-shanchu:before { content: "\e626"; }

.sst-shichenshijian:before { content: "\e627"; }

.sst-qqkongjian:before { content: "\e62a"; }

.sst-dibu:before { content: "\e62b"; }

.sst-dingbu:before { content: "\e62c"; }

.sst-duanxin:before { content: "\e62d"; }

.sst-duoyuyan:before { content: "\e62e"; }

.sst-geren:before { content: "\e62f"; }

.sst-guanzhu:before { content: "\e630"; }

.sst-qian:before { content: "\e631"; }

.sst-shijian:before { content: "\e632"; }

.sst-shoucang:before { content: "\e633"; }

.sst-weixinzhifu:before { content: "\e634"; }

.sst-wuliu:before { content: "\e635"; }

.sst-xiangshang:before { content: "\e636"; }

.sst-xiangxia:before { content: "\e637"; }

.sst-xiangyou:before { content: "\e638"; }

.sst-xiangzuo:before { content: "\e639"; }

.sst-yigou:before { content: "\e63a"; }

.sst-bangzhu:before { content: "\e63b"; }

.sst-bianji:before { content: "\e63c"; }

.sst-caidan:before { content: "\e63d"; }

.sst-chafenlei:before { content: "\e63e"; }

.sst-dashiruzhu:before { content: "\e63f"; }

.sst-dashizaixian:before { content: "\e640"; }

.sst-dizhi:before { content: "\e641"; }

.sst-fenxiang:before { content: "\e642"; }

.sst-gouwuche:before { content: "\e643"; }

.sst-jifen:before { content: "\e645"; }

.sst-kefu:before { content: "\e646"; }

.sst-xuetang:before { content: "\e647"; }

.sst-nansheng:before { content: "\e648"; }

.sst-nvsheng:before { content: "\e649"; }

.sst-pinglun:before { content: "\e64a"; }

.sst-renzheng:before { content: "\e64b"; }

.sst-quanweizhuanjia:before { content: "\e64c"; }

.sst-shangcheng:before { content: "\e64d"; }

.sst-shixincaidan:before { content: "\e64e"; }

.sst-shouji:before { content: "\e64f"; }

.sst-shouye:before { content: "\e651"; }

.sst-sousuo:before { content: "\e652"; }

.sst-taiji:before { content: "\e653"; }

.sst-tangdou:before { content: "\e654"; }

.sst-touxiang:before { content: "\e655"; }

.sst-tupian:before { content: "\e656"; }

.sst-weibo:before { content: "\e657"; }

.sst-weixin:before { content: "\e658"; }

.sst-wode:before { content: "\e659"; }

.sst-xingbie:before { content: "\e65b"; }

.sst-yigouxiangmu:before { content: "\e65c"; }

.sst-zhifubao:before { content: "\e65d"; }

.sst-qq:before { content: "\e65e"; }

.sst-shoujirenzheng:before { content: "\e65f"; }

.sst-youxiangrenzheng:before { content: "\e660"; }

.sst-hanbaocaidan:before { content: "\e661"; }

.sst-dui:before { content: "\e662"; }

.sst-gen:before { content: "\e663"; }

.sst-kan:before { content: "\e664"; }

.sst-kun:before { content: "\e665"; }

.sst-li:before { content: "\e666"; }

.sst-gan:before { content: "\e667"; }

.sst-wuxing:before { content: "\e668"; }

.sst-xun:before { content: "\e669"; }

.sst-zhen:before { content: "\e66a"; }

.sst-xinzeng:before { content: "\e670"; }

.sst-jin:before { content: "\e676"; }

.sst-huo:before { content: "\e677"; }

.sst-mu:before { content: "\e678"; }

.sst-shui:before { content: "\e679"; }

.sst-tu:before { content: "\e67a"; }

.sst-baojia:before { content: "\e67b"; }

.sst-erweima:before { content: "\e67c"; }

.sst-yuanyou:before { content: "\e67d"; }

.sst-dashi:before { content: "\e67e"; }

