<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>org.logicalcobwebs.proxool.ProxoolDriver</value>
		</property>
		<property name="url">
			<value>proxool.DbPool</value>
		</property>
	</bean>
	<bean id="jdbcTemp"
		class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
	</bean>
	<bean id="superDao" class="com.sundyn.dao.SuperDao">
		<property name="jdbcTemplate" ref="jdbcTemp"></property>
	</bean>
	<bean id="AutoUpdate" class="com.sundyn.util.AutoUpdate">
		<property name="formlistService" ref="formlistService"></property>
	</bean>
	<!-- spring 定时器 开始 -->
	<bean id="regTimer" class="com.sundyn.util.RegTimer" />
	<bean id="regTask"
		class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<property name="timerTask" ref="regTimer" />
		<property name="period">
			<value>66400000</value>
		</property>
	</bean>
	<bean class="org.springframework.scheduling.timer.TimerFactoryBean">
		<property name="scheduledTimerTasks">
			<list>
				<ref bean="regTask" />
			</list>
		</property>
	</bean>
	<!-- spring 定时器 结束 -->
	<bean id="des" class="com.sundyn.util.impl.DesImpl"></bean>
	<bean id="cPic" class="com.sundyn.util.CompressPicDemo"></bean>
</beans>
