<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>-->
    <!-- mybatis别名定义 -->
    <typeAliases>
        <!--<typeAlias alias="AppriesMenu" type="com.sundyn.entity.AppriesMenu"/>
        <typeAlias alias="AppriesFunc" type="com.sundyn.entity.AppriesFunc"/>-->
    </typeAliases>
    <!--<environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.microsoft.jdbc.sqlserver.SQLServerDriver"/>
                <property name="url" value="jdbc:microsoft:sqlserver://localhost:1433;DatabaseName=zxproduct" />
                <property name="username" value="sa"/>
                <property name="password" value="sa123456."/>
                <property name="poolPingQuery" value="SELECT 1" />
                <property name="poolPingEnabled" value="true" />
            </dataSource>
        </environment>
    </environments>-->
    <!-- mybatis的mapper文件，每个xml配置文件对应一个接口 -->
    <mappers>
        <!--<mapper resource="com/sundyn/entity/AppriesMenuMapper.xml"/>
        <mapper resource="com/sundyn/entity/AppriesFuncMapper.xml"/>-->
    </mappers>
</configuration>